

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;

  }

  p{
    font-weight: 400;
    font-style: normal;
  }


  
  body {

    line-height: 1.6;
    color: #333;
    font-weight:600;
  }
  
  button {
    cursor: pointer;
    border: none;
    background: none;
  }
  
  input, select, textarea {
    font-family: inherit;
  }